<h2 class="page-header">Search Books</h2>
<form action="/books" method="GET">
  <div class="form-row">
    <div class="form-item">
      <label for="name">Title</label>
      <input
        type="text"
        name="title"
        value="<%= searchOptions.name ? searchOptions.title : '' %>"
      />
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label for="name">Published After</label>
      <input
        type="date"
        name="publishedAfter"
        value="<%= searchOptions.publishedAfter %>"
      />
    </div>
  </div>
  <div class="form-row">
    <div class="form-item">
      <label for="name">Published Before</label>
      <input
        type="date"
        name="publishedBefore"
        value="<%= searchOptions.publishedBefore %>"
      />
    </div>
  </div>
  <div class="form-row form-row-end">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>

<br />

<%- include('../partials/bookGrid', { books: books, large: true }) %>
